h1 {
    color: black;
    text-align: center;

}

p {
    color: black;

}

td {
    color: black;
}

div.home {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color:lawngreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lawngreen;
    background: rgba(124, 252, 0, 0.5)
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}
div p {
    margin: 5%;
    font-weight: bold;
    color: white;
}


* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease;
}
nav.hidden {
    transform: translate3d(0,-100%,0);
}
nav ul li {
    display: inline-block;
    margin-right: 60px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, sans-serif;
}